<!-- app/views/room_posts/show.html.erb -->
<h1>Room Post Details</h1>

<dl>
  <dt>Owner:</dt>
  <dd><%= @room_post.owner %></dd>

  <dt>Address:</dt>
  <dd><%= @room_post.address %></dd>

  <dt>Description:</dt>
  <dd><%= @room_post.description %></dd>
</dl>
