<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form">
            <form *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="owner" class="form-label">Owner</label>
                    <input type="text" class="form-control disable" id="owner" formControlName="owner">
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" formControlName="title">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" formControlName="address">
                </div>
                <div class="mb-3">
                    <label for="roomsAvailable" class="form-label">Rooms Available</label>
                    <input type="text" class="form-control" id="roomsAvailable" formControlName="roomsAvailable" pattern="[0-9]*">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="price" formControlName="price" pattern="[0-9]*">
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" formControlName="city">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>
