<div class="stepper-container">
    <h2 class="header"> Vamos a crear una nueva habitacion </h2>
    <mat-horizontal-stepper class="stepper">
        <mat-step label="Ubicación del departamento">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Direccion</ng-template>
                <mat-form-field>
                    <mat-label>Ciudad</mat-label>
                    <input matInput formControlName="firstCtrl" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="firstCtrl" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Información adicional</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step label="Datos de la habitación">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Caracteristicas</ng-template>
                <mat-form-field>
                    <mat-label>Numero de personas</mat-label>
                    <input matInput formControlName="firstCtrl" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Dimensiones del cuarto</mat-label>
                    <input matInput formControlName="firstCtrl" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Baño</mat-label>
                    <input matInput formControlName="firstCtrl" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Volver</button>
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step label="Información adicional">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Caracteristicas adicionales</ng-template>
                <mat-form-field>
                    <mat-label>Tiempo minimo de contrato</mat-label>
                    <input matInput formControlName="firstCtrl" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Sexo</mat-label>
                    <input matInput formControlName="firstCtrl" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Garaje</mat-label>
                    <input matInput formControlName="firstCtrl" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Volver</button>
                    <button mat-button matStepperNext>Siguiente</button> 
                </div>
            </form>
        </mat-step>
        <mat-step label="Confirmacion">
            <p>Por favor asegurate que la información proporcionada sea la correcta.</p>
            <button mat-button matStepperNext>Completar</button>
        </mat-step>
    </mat-horizontal-stepper>



</div>