<div class="container">
    
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h3>User Login</h3>
        <div class="form">
            <form (ngSubmit)="onLogin()">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" formControlName="username" [(ngModel)]="username">
                </div>
                <div class="mb-3">
                    <label for="pass" class="form-label">Password</label>
                    <input type="text" class="form-control" id="pass" formControlName="pass" [(ngModel)]="password">
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>