  <div class="chat-container">
    <div class="chat-header">
      <img src="./assets/perfil.jpg" alt="User 1 Avatar">
      <h2>Gabriel</h2>
    </div>
    <div class="chat-messages">
      <div class="message received">
        <p>Hola</p>
      </div>
      <div class="message sent">
        <p>Hola, como puedo ayudarte?</p>
      </div>
      <div class="message received">
        <p>Hay supermercados cerca de la ubicacion de la habitación?</p>
      </div>
      <div class="message sent">
        <p>Si, hay uno a la vuelta de la esquina</p>
      </div>
      <div class="message received">
        <p>Bien, puedes damre mas información?</p>
      </div>
      <div class="message sent">
        <p>Claro, con gusto. </p>
      </div>
      <div class="message sent">
        <p>......</p>
      </div>
    </div>
    <div class="message-input">
      <input type="text" placeholder="Escribe tu mensaje...">
      <button>Enviar</button>
    </div>
  </div>

